<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Skill</title>
</head>
<body>
  <form action="/skills/<%=skill._id%>?_method=PUT"
        method="post" 
        autocomplete="off">
      <h1>Skill Name</h1>
      <input type="text" name="skillName" value="<%=skill.skillName%>">
      <h1>Catergory</h1>
      <input type="text" name="catergory" value="<%=skill.catergory%>">
      <h1>Mastery</h1>
      <input type="text" name="mastery" value="<%=skill.mastery%>">
    <button type="submit">Edit</button>
  </form>
</body>
</html>